Repository Lycheejam/devcontainers-sample-cfn: changes, and which pre-commit hooks are due for each by the changed paths.
All: rye-yamllint, rye-cfn-lint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: rye-yamllint
        name: rye-yamllint
        description: This hook runs yamllint.
        entry: rye run yamllint
        language: system
        types: [file, yaml]
      - id: rye-cfn-lint
        name: rye-cfn-lint
        description: This hook runs cfn-lint.
        entry: rye run cfn-lint
        language: system
        files: templates/.*\.(json|yaml|yml)$

:+1: container startup setting
  .devcontainer/devcontainer.json
Due: none

:+1: add aws cli credential mount
  .devcontainer/devcontainer.json
Due: none

:pencil2: update readme
  README.md
Due: none

:shirt: fix lint
  .github/dependabot.yml
  templates/stack-sample.yaml
Due: rye-yamllint, rye-cfn-lint

:bug: fix ci
  .github/workflows/lint.yml
Due: rye-yamllint
